{% extends "network/layout.html" %}

{% block body %}
<div class="register">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="first_name" placeholder="First name" required>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="last_name" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group form-inline">
            <label id="label">Profile Picture: </label> 
            <input type="file" id="file" name="pro_pic" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}